* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", system-ui, sans-serif;
}

:root {
  --anchor-offset: 7rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #212123;
  color: #dcdcdd;
  transition: background-color 0.2s ease, color 0.2s ease;
}


#home,
#about,
#tech,
#projects {
  scroll-margin-top: var(--anchor-offset);
}

@media (max-width: 768px) {
  :root {
    --anchor-offset: 9rem;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}